.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  place-items: center;
  justify-items: start end;
}

body {
  font-family: "Oswald", sans-serif;
  font-family: "Raleway", sans-serif;
  margin: 40px;
}
h1,
a {
  margin: 0px;
}
h1 {
  line-height: 1;
  font-size: 48px;
}
p {
  font-size: 20px;
}
img {
  max-width: 100%;
}

.preco {
  background: #febe01;
  padding: 5px 10px;
  border-radius: 4px;
}

.comprar {
  display: inline-block;
  background: #febe01;
  color: #332200;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}
